@model IEnumerable<TaskManagement.Application.DTOs.TaskTableDTO>
@{
}
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
    @foreach (var item in Model)
    {
        <div class="col col-sm-6 col-lg-4 col-xl-3 g-3">
            <div class="card @(item.IsDeleted ? "bg-light opacity-50 pe-none" : "none")" style="width: 15rem;" aria-disabled="@(item.IsDeleted ? true: false)">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-6 text-white">@item.Status</div>
                        <div class="col-6 text-white text-end">
                            <div class="dropdown ">
                                <i 
                                    class="bi bi-three-dots-vertical"
                                    type="button" 
                                    data-bs-toggle="dropdown"
                                   aria-expanded="true"
                                ></i>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                                    <li><a class="dropdown-item" href="#">Assign Task</a></li>
                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <div class="row">
                        <div class="col-12">

                            <span class="text-secondary">Priority: @item.priority</span>
                        </div>
                        <div class="col-12">
                            <span class="text-secondary">Created At: @item.CreatedAt.ToShortDateString()</span>
                        </div>
                    </div>
                    @* <hr /> *@
                    <div class="border-top">
                    <p class="card-text ">@item.Description</p>
                    </div>
   
                    
                </div>
            </div>
        </div>

    }

</div>


