
@{
    ViewData["Title"] = "Home Page";
}
@* Home container  *@
<div class="container min-vh-84">

    
    <div class="container d-flex flex-column">

        <div class="container d-flex  mb-4">
         
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" id="menue-tab">

                <a class="btn btn-outline-primary home-active-btn" onclick="loadTasks()">
                        <i class="bi bi-box-arrow-in-up-left"></i> Home
                    </a>

                <a class="btn btn-outline-primary deleted-active-btn"
                   onclick="openDeletedTasks()">
                    <i class="bi bi-trash3-fill"></i> Deleted Tasks
                    </a>
                <a class="btn btn-outline-primary assign-active-btn"
                   onclick="loadAllAssigned()">
                    <i class="bi bi-list-task"></i> Assigned Tasks
                    </a>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    
                <a class="btn btn-outline-primary" 
                   asp-controller="Tasks"
                   asp-action="CreateTask">
                    <i class="bi bi-plus"></i> Add Task
                    </a>
                }
                
            </div>
        </div>
        <div class="container d-flex " id="task-item">

        </div>


        <div id="preloaded" class="loader">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only"></span>
                </div>
        </div>
        
        
    </div>
</div>

@section Scripts {
    <script src="~/js/taskCard.js" asp-append-version="true"></script>
    @if (TempData["Update"] != null)
    {
        <script>
                        Swal.fire({
                icon: 'success',
                title: 'Updated!',
                text: '@TempData["Update"]',
                timer: 1500,
                showConfirmButton: false // Hides the default "OK" butto
            });
        </script>
    }
    @if (TempData["Create"] != null)
    {
        <script>
                        Swal.fire({
                icon: 'success',
                title: 'Created!',
                text: '@TempData["Create"]',
                timer: 1500,
                showConfirmButton: false // Hides the default "OK" butto
            });
        </script>
    }
    @if (TempData["Delete"] != null)
    {
        <script>
                        Swal.fire({
                icon: 'success',
                title: 'Deleted!',
                text: '@TempData["Delete"]',
                timer: 1500,
                showConfirmButton: false // Hides the default "OK" butto
            });
        </script>
    }
    @if (TempData["Notification"] != null)
    {
        <script>
            Swal.fire({
                title: 'Success!',
                text: '@TempData["Notification"]',
                icon: 'success',
                timer: 1500,
                confirmButtonText: 'OK'
            });
        </script>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
                        Swal.fire({
                title: 'Error!',
                text: '@TempData["ErrorMessage"]',
                icon: '@TempData["AlertType"]',
                timer: 2000,
                confirmButtonText: 'OK'
            });

        </script>
        TempData["ErrorMessage"] = null;
    }
    }